@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Anton');

.navbar {
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
  background: url('fabric_of_squares_gray.png');
}

.navbar-inverse .navbar-nav > li > a {
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;  
font-weight: 100;
color: black;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;  
  font-weight: 100;
  color:#00BA38;
}

.navbar-inverse .navbar-brand {
  font-family: 'Anton', sans-serif; 
  color: #00BA38;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  font-family: 'Anton', sans-serif; 
  color: #00BA38;
}

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0,0,0,0.5);
  color: white;
}

.frosty h1 {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px; 
}

.frosty h2 {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 100;
   text-shadow: rgba(0,0,0,0.95) 1px 1px; 
}

.btn {
  border-radius: 0;
}

body {
  background: url('footer_lodyas.png');
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
 
}

.features {
  color: white;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: url('fabric_of_squares_gray.png');
  border: 1px solid #ccc;
  border-color: #8c8c8c #8c8c8c #8c8c8c #8c8c8c;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.clr {
  clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 8px;
  margin: 10px;
}

.lesson {
  background-color:black;
}

.lesson a {
  color:white;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;  
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #8c8c8c #8c8c8c #8c8c8c #8c8c8c;
  padding: 20px;  
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .glyphicon {
  font-size: 20px;
}

.lessons_instructor li {
  background: black;
  color: white;
  margin: 10px;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons_instructor li b {
  font-size: 25px;
  font-weight:100;
}
.lessons_instructor li p {
  margin: 0;
}

